<div class="row">
        <div class="col-md-6">
            <h4><%= @user.first_name %>  <%= @user.last_name %>'s Playlist</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Times Added</th>
                    </tr>
                </thead>
                <tbody>
                    <% @songs.each {|song| %>
                        <tr>
                            <td><%= song[0][0] %></td>
                            <td><%= song[0][1] %></td>
                            <td><%= song[1] %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a href="/songs">Dashboard</a> | 
            <a href="/sessions/logout">Logout</a>
        </div>
    </div>